

ul.animated-menu {
    text-align: left;
    font: bold 14px/1.4 'Open Sans', arial, sans-serif;
    list-style: none; 
    display: inline-block;
}
  
ul.animated-menu > li {
    display: inline-block; 
    position: relative; 
    text-align: left;
  }

ul.animated-menu > li > a:hover {
    text-decoration: none;
}

ul.animated-menu > li > a {
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;

    display: inline-block;
    padding: 15px 20px;
    position: relative;
}


ul.animated-menu > li > a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;    
    left: 50%;
    position: absolute;
    background: #000;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

ul.animated-menu > li > a:hover:after { 
    width: 100%; 
    left: 0; 
}

